* {
    margin: 0px;
}

body {
    font-size: 16px;
    font-family: rubik, sans-serif;
    font-weight: 300;
    font-style: normal;
    word-wrap: break-word;
    background: #FAFAFA;
    padding: 0;
    color: #282828
}

h1 {
    font-weight: 300;
    text-align: center;
    margin: 8% 8% 0;
}

#retul-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 8%;
}

@media only screen and (min-width: 465px) {
    .container {
        row-gap: 0px;
    }
}

.item:nth-child(odd) {
    background-color: #dfdfdf;
}

.item:nth-child(even) {
    background-color: #eaeaea;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 100%;
}

.title {
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding: 15%;
    font-size: 1.2rem;
}

.description, .description-odd {
    padding: 30px;
    line-height: 23px;
    background-color: #e9e9e9;
}

.description-odd {
    background-color: #f4f4f4;
}